body {
    background: #1E293B;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.h1 {
    font-size: 30px;
    margin-bottom: 8.75%;
}

.p {
    font-size: 20px;
}

nav {
    background: #1D66DC;
    width: 100%;
    height: 67px;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 15.63%;
    margin-top: 205px;
    justify-content: flex-start;
    width: 440px;
}

.text-container {
    display: flex;
    width: 395px;
    margin-left: 8.83%;
    margin-top: 114px;
    margin-right: 23.44%;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

input {
    width: 440px;
    height: 48px;
    border-radius: 20px;
    background: #3B5481;
    margin-bottom: 13px;
    color: white;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    border: none;
    text-indent: 39px; 
}

button {
    border-radius: 20px;
    height: 48px;
    width: 145px;
    background: #1D66DC;
    color: white;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    border: none;
}

@media (max-width: 1000px) {

    .flex-container {
        flex-wrap: wrap;
    }

    .container {
        margin-left: 8.83%;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    input {
        width: 100%;
        margin-left: auto;
        text-indent: 0;
        text-align: center;
    }

    button {
        width: 100%;
        margin-left: auto;
    }

    .text-container {
        margin-top: 50px;
    }
}