@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*
{
    font-family: Lexend;
    font-weight: 500;
    color: #FFFFFF;
}

body
{
    background-color: #1E293B;
    margin: 0;  /*  Pistää yläpalkin kiinni reunoihin ja sivun yläosaan */
}

.navbar
{
    background-color: #1D66DC;
    height: 70px;
}

.header
{
    width: 90%;
    margin: auto;
    font-size: xx-large;
    
    margin-top: 5%;
    margin-bottom: 5%;
}

.question_image {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Optional: Add some margin to the top */
    margin-bottom: 20px; /* Optional: Add some margin to the bottom */
}

.question_image img {
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
}
.timer
{
    /*text-align: center;*/
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.questions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 90%;
    margin: auto;
}

.question
{
    background-color: #3B5481;
    height: 48px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    margin-inline: 25px;
    margin-block: 10px;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    max-width: 1200px;
}

.submit-button-disabled {
    display: none !important;
}

.submit-button {
    padding: 15px;
    width: 200px;
}