@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*
{
    font-family: Lexend;
    font-weight: 500;
    color: #FFFFFF;
}

body
{
    background-color: #1E293B;
    margin: 0;  /*  Pistää yläpalkin kiinni reunoihin ja sivun yläosaan */
}

.navbar
{
    background-color: #1D66DC;
    height: 70px;
}

.header
{
    padding: 4%;
    font-size: xx-large;
}

.timer
{
    /*text-align: center;*/
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.questions
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-left: 23%;
    padding-top: 2%;
}

.question
{
    background-color: #3B5481;
    height: 48px;
    width: 481px;
    border-radius: 20px;
    margin-inline: 25px;
    margin-block: 10px;
}