.leaderboard-element {
    padding: 10px;
    margin-left: 2.5%;
    margin-bottom: 12px;
    border-radius: 10px;
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px; 
    align-items: center;
    gap: 10px;
}

.leaderboard-element p, .leaderboard-element h2 {
    text-shadow: 1px 1px 1px #000000;
}

.points, .time, .team {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 10px; 
}
  
.points img, .time img {
    margin-right: 5px; 
    width: 24px;
    height: 24px;
}

.first-position {
    background: linear-gradient(to right, #D4AF37 77%, rgba(85, 74, 31, 0) 100%);
}

.second-position {
    background: linear-gradient(to right, #C0C0C0 77%, rgba(85, 74, 31, 0) 100%); 
}
  
.third-position {
    background: linear-gradient(to right, #CD7F32 77%, rgba(85, 74, 31, 0) 100%); 
}
  
.high-position {
    background-color: #3B5481; 
}



@media (max-width: 700px) {
    .leaderboard-element {
        height: auto;
        grid-template-columns: 100px 100px; 
        border-radius: 10px 0px 0px 10px;
        width: auto;
    }

}