.question {
    transition: all 0.1s ease-out;
}

.question-data {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.question-toggled {
    background-color: #1D66DC;
}

.question-correct {
    background-color: #169841 !important;
}

.question-incorrect {
    background-color: #BB4C4C !important;
}

@media (max-width: 700px) {
    .question {
        margin-inline: 0;
    }
}